* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fira Mono', monospace;
	background-color: #cfccca;
}

body, html {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline;
}

a {
	text-decoration: none;
}
/*
	=================
	HEADER
	=================
*/
.header {
	background-color: #adadad;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: fixed;
}

.app-title {
	color: #503942;
	cursor: default;
}

.new-button {
	margin: 5px;
	padding: 5px;
	width: 80px;
	text-align: center;
	background-color: #50394cc2;
	color: #ffef96;
	border-radius: 10px;
	border: 3px solid #50394cc2;
	cursor: pointer;
}

/*
	================
	MAIN CONTENT
	================
*/
.main {
	padding-top: 65px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

/* PROJECTS COLUMN */
.projects-column {
	border-right: 4px solid #50394cc2;
	height: 100vh;
	background: #c7c7c7;
}

.column-btn {
	margin: 10px 5px;
	text-align: center;
	border: 2px solid #503942;
	cursor: pointer;
}

.column-btn-selected {
	background-color: #50394cc2;
}
/*
	====================
	FOOTER
	====================
*/
.footer {
	height: 50px;
	background-color: #adadad;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-link a {
	padding: 10px;
	color: #503942;
}


